@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: 	url('HelveticaNeue/HelveticaNeue-Medium/HelveticaNeue-Medium.eot');
	src: 	url('HelveticaNeue/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
			url('HelveticaNeue/HelveticaNeue-Medium/HelveticaNeue-Medium.woff') format('woff'),
			url('HelveticaNeue/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf') format('truetype'),
			url('HelveticaNeue/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#helveticaneuemedium') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}