@font-face {
	font-family: 'HelveticaNeueCondensed-Black';
	src: 	url('HelveticaNeue/HelveticaNeueCondensed-Black/HelveticaNeue-CondensedRegular.eot');
	src: 	url('HelveticaNeue/HelveticaNeueCondensed-Black/HelveticaNeue-CondensedRegular.eot?#iefix') format('embedded-opentype'),
			url('HelveticaNeue/HelveticaNeueCondensed-Black/HelveticaNeue-CondensedRegular.woff') format('woff'),
			url('HelveticaNeue/HelveticaNeueCondensed-Black/HelveticaNeue-CondensedRegular.ttf') format('truetype'),
			url('HelveticaNeue/HelveticaNeueCondensed-Black/HelveticaNeue-CondensedRegular.svg#helveticaneuecondensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}