html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, tt, var, abbr, acronym, address, big, cite, del, dfn, code, p, fieldset, ins, kbd, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, dfn, mark, kbd, samp {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
em, a, img, q, s, samp, small, strike, strong, sub, sup, b, u, i, center, pre, dl, dt, dd, ol, ul, li, legend {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 100%;
	vertical-align: baseline;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, time, summary, dfn, mark, kbd, samp, legend {
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
textarea, input, button {
	border: 0px;
}
textarea:focus, input:focus, input:hover, a:hover, a:focus, a:active, button:focus, button:hover {
	outline: 0px;
}
:focus {
	outline-color: transparent;
	outline-style: none;
}
input {
	border-width: 0px;
}
em {
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
sup {
	vertical-align: text-top;
	font-size: 58.3%;
}
sub {
	vertical-align: text-bottom;
	font-size: 58.3%;
}
img, embed, object, video {
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
	height: 0px;
}
[hidden], template {
	display: none;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0px;
	-ms-interpolation-mode: bicubic;
}
img.optimize, canvas.optimize { 
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
select.clear {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select.clear::-ms-expand {
	display: none;
}
svg:not(:root) {
	overflow: hidden;
}
legend {
	border: 0px;
	padding: 0px;
	white-space: normal;
	*margin-left: -7px;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0px;
	*height: 13px;
	*width: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	outline-offset: -2px;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border: 0px;
	padding: 0px;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
dialog {
	position: absolute;
	left: 0px;
	right: 0px;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	color: #000000;
	margin: auto;
	border-width: initial;
	border-style: solid;
	border-color: initial;
	border-image: initial;
	padding: 1em;
	background: #ffffff;
}
dialog::backdrop {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.0980392);
}
dialog:not([open]) {
	display: none;
}
input, textarea, keygen, select, button, meter, progress {
	-webkit-writing-mode: horizontal-tb;
}
meter {
	-webkit-appearance: meter;
	-moz-appearance: meter;
	box-sizing: border-box;
	display: inline-block;
	height: 1em;
	width: 5em;
	vertical-align: -0.2em;
	-webkit-user-modify: read-only;
	-moz-user-modify: read-only;
}
progress {
	-webkit-appearance: progress-bar;
	-moz-appearance: progress-bar;
	box-sizing: border-box;
	display: inline-block;
	height: 1em;
	width: 10em;
	vertical-align: -0.2em;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
@-ms-viewport {
	width: device-width;
}
abbr[title], abbr[data-original-title] {
	cursor: help;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
}
[role="button"] {
	cursor: pointer;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
	cursor: not-allowed;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	  -webkit-appearance: listbox;
}
output {
	display: inline-block;
}
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}
@media print {
	*, *:before, *:after, *:first-letter {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}

textarea, input, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}


.invisible {
	visibility: hidden !important;
}
.visible {
	visibility: visible !important;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg,
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block,
.visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
.visible-md-block, .visible-md-inline, .visible-md-inline-block,
.visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none !important;
}
@media (max-width: 767px) {
	.visible-xs {
		display: block !important;
	}
	.visible-xs.table {
		display: table !important;
	}
	.visible-xs.tr {
		display: table-row !important;
	}
	.visible-xs.th, .visible-xs.td {
		display: table-cell !important;
	}
}
@media (max-width: 767px) {
	.visible-xs-block {
		display: block !important;
	}
}
@media (max-width: 767px) {
	.visible-xs-inline {
		display: inline !important;
	}
}
@media (max-width: 767px) {
	.visible-xs-inline-block {
		display: inline-block !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}
	.visible-sm.table {
		display: table !important;
	}
	.visible-sm.tr {
		display: table-row !important;
	}
	.visible-sm.th, .visible-sm.td {
		display: table-cell !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-block {
		display: block !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline {
		display: inline !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline-block {
		display: inline-block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}
	.visible-md.table {
		display: table !important;
	}
	.visible-md.tr {
		display: table-row !important;
	}
	.visible-md.th, .visible-md.td {
		display: table-cell !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-block {
		display: block !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline {
		display: inline !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline-block {
		display: inline-block !important;
	}
}
@media (min-width: 1200px) {
	.visible-lg {
		display: block !important;
	}
	.visible-lg.table {
		display: table !important;
	}
	.visible-lg.tr {
		display: table-row !important;
	}
	.visible-lg.th, .visible-lg.td {
		display: table-cell !important;
	}
}
@media (min-width: 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}
@media (min-width: 1200px) {
	.visible-lg-inline {
		display: inline !important;
	}
}
@media (min-width: 1200px) {
	.visible-lg-inline-block {
		display: inline-block !important;
	}
}
@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}
.visible-print {
	display: none !important;
}
@media print {
	.visible-print {
		display: block !important;
	}
	.visible-pr.tableint {
		display: table !important;
	}
	.visible-print.tr {
		display: table-row !important;
	}
	.visible-print.th, .visible-print.td {
		display: table-cell !important;
	}
}
.visible-print-block {
	display: none !important;
}
@media print {
	.visible-print-block {
		display: block !important;
	}
}
.visible-print-inline {
	display: none !important;
}
@media print {
	.visible-print-inline {
		display: inline !important;
	}
}
.visible-print-inline-block {
	display: none !important;
}
@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}
.visible-print-table {
	display: none !important;
}
@media print {
	.visible-print-table {
		display: table !important;
	}
}
@media print {
	.hidden-print {
		display: none !important;
	}
}