@font-face {
	font-family: "MyriadProCondRegular";
	src: url("MyriadPro/MyriadProCondRegular/MyriadProCondRegular.eot");
	src: url("MyriadPro/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
	url("MyriadPro/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProCondItalic";
	src: url("MyriadPro/MyriadProCondItalic/MyriadProCondItalic.eot");
	src: url("MyriadPro/MyriadProCondItalic/MyriadProCondItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProCondItalic/MyriadProCondItalic.woff") format("woff"),
	url("MyriadPro/MyriadProCondItalic/MyriadProCondItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProCondBold";
	src: url("MyriadPro/MyriadProCondBold/MyriadProCondBold.eot");
	src: url("MyriadPro/MyriadProCondBold/MyriadProCondBold.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProCondBold/MyriadProCondBold.woff") format("woff"),
	url("MyriadPro/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProCondBoldItalic";
	src: url("MyriadPro/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot");
	src: url("MyriadPro/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProCondBoldItalic/MyriadProCondBoldItalic.woff") format("woff"),
	url("MyriadPro/MyriadProCondBoldItalic/MyriadProCondBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("MyriadPro/MyriadProRegular/MyriadProRegular.eot");
	src: url("MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProItalic";
	src: url("MyriadPro/MyriadProItalic/MyriadProItalic.eot");
	src: url("MyriadPro/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProItalic/MyriadProItalic.woff") format("woff"),
	url("MyriadPro/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
    font-family: "MyriadProBold";
    src: url("MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("MyriadPro/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProSemiBold";
	src: url("MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");
	src: url("MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
	url("MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
@font-face {
	font-family: "MyriadProSemiBoldItalic";
	src: url("MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
	src: url("MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
	url("MyriadPro/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}