@font-face {
	font-family: 'PT-Sans-Regular';
	src: 	url('PT-Sans/PT-Sans-Regular.eot');
	src: 	url('PT-Sans/PT-Sans-Regular.eot?#iefix') format('embedded-opentype'),
			url('PT-Sans/PT-Sans-Regular.woff') format('woff'),
			url('PT-Sans/PT-Sans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'PT-Sans-Italic';
	src: 	url('PT-Sans/PT-Sans-Italic.eot');
	src: 	url('PT-Sans/PT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
			url('PT-Sans/PT-Sans-Italic.woff') format('woff'),
			url('PT-Sans/PT-Sans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'PT-Sans-Bold';
	src: 	url('PT-Sans/PT-Sans-Bold.eot');
	src: 	url('PT-Sans/PT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
			url('PT-Sans/PT-Sans-Bold.woff') format('woff'),
			url('PT-Sans/PT-Sans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'PT-Sans-BoldItalic';
	src: 	url('PT-Sans/PT-Sans-BoldItalic.eot');
	src: 	url('PT-Sans/PT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('PT-Sans/PT-Sans-BoldItalic.woff') format('woff'),
			url('PT-Sans/PT-Sans-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}