@font-face {
	font-family: 'Raleway-ExtraLight';
	src: url("Raleway/Raleway-ExtraLight.otf") format("opentype"),
		url("Raleway/Raleway-ExtraLight.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'Raleway-ExtraLight-Italic';
	src: url("Raleway/Raleway-ExtraLight-Italic.otf") format("opentype"),
		url("Raleway/Raleway-ExtraLight-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'Raleway-ExtraBold';
	src: url("Raleway/Raleway-ExtraBold.otf") format("opentype"),
		url("Raleway/Raleway-ExtraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
@font-face {
	font-family: 'Raleway-ExtraBold-Italic';
	src: url("Raleway/Raleway-ExtraBold-Italic.otf") format("opentype"),
		url("Raleway/Raleway-ExtraBold-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}